<form>
    <h1 class="text-center ">LOGIN</h1>
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line1"></div>
    <div class="form-group mt-2">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  placeholder="Enter your e-mail">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1"  placeholder="Enter your password">
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-outline-danger form-control">Submit</button>
    </div>
    

    <div class="text-center p-5">
        <span class="">
            Or 
            <a class="" routerLink="signup">
                Sign Up
            </a>
        </span>
    </div>
</form>