<div class="auth-layout p-5 d-flex justify-content-center align-items-center">
    <div class="auth-content p-5">
        <div class="text-center">
            <img class="mb-5 " src="../../../../../assets/img/new_logo.png" alt="" width="72" height="72">
        </div>

        <div class="card">
            <div class="card-header" style="font-weight: bold;">
              {{itemDetails.title}}
            </div>
            <div class="card-body">
              <h5 class="card-title">Description: </h5>
              <p class="card-text">{{itemDetails.description}}</p>
            
            <a href="#" class="btn btn-default text-success" [routerLink]="['../../edit', itemDetails.id]"><i
                class="fa fa-edit"></i></a>
            <a href="javascript:;" class="btn btn-default text-danger" (click)="deleteItem(itemDetails.id)"><i
                class="fa fa-trash"></i></a>
            </div>
          </div>

        
    </div>
</div>