<!-- ---------------------------- home ----------------------------- -->
<div class="container m-5 py-5">
    <h1 style="font-size: 100px;">Notes <span style="color: #ff305b;">Angular</span>  Project</h1>
    <h6 style="font-size: 25px;" class="mx-5 px-5">BY <span style="color: #ff305b;">Bishoy</span></h6>

</div>
<div class="container m-5 pb-5">
    <button class="btn btn-outline-danger py-2 px-5 mx-3" routerLink="auth">Login</button>
    <button class="btn btn-outline-danger py-2 px-5" routerLink="auth/signup">Sign Up</button>
</div>

<!-- --------------------------------------------------------------- -->

<!-- ---------------------------- our-services --------------------- -->
    <div  class="our-services">
        <h2>Our Services</h2>
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line1"></div>
        <div class="services-info">
            <div class="services">
                <i class='fas fa-pencil-ruler ico-img' style='font-size:28px;color:#ff305b'></i>
                <h3>UI/UX DESIGN</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione adipisci mollitia quis necstatibus.</p>
            </div>
            <div class="services">
                <i class='far fa-file-code ico-img' style='font-size:28px;color:#ff305b'></i>
                <h3>APP DEVELOPMENT</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione adipisci mollitia quis necstatibus.</p>
            </div>
            <div class="services">
                <i class='fas fa-chart-line ico-img' style='font-size:28px;color:#ff305b'></i>
                <h3>PRODUCT DESIGN</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione adipisci mollitia quis necstatibus.</p>
            </div>
            <div class="services">
                <i class='fas fa-wrench ico-img' style='font-size:28px;color:#ff305b'></i>  
                <h3>UI/UX DESIGN</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione adipisci mollitia quis necstatibus.</p>
            </div>
        </div>
        <div class="clr"></div>
    </div>    
<!-- --------------------------------------------------------------- -->